     #gdpr-box {
         display: none;
         width: 100%;
         background: #000;
         color: #fff;
         position: fixed;
         bottom: 0;
         z-index: 999;
     }

     #gdpr-box p {
         padding: 10px 20px 20px;
         font-size: 12px;
         line-height: 18px;
         margin-top: 0;
     }

     #gdpr-box a {
         color: #fff;
     }

     #gdpr-box button.gdpr-button-accept {
         background: none;
         color: #fff;
         font-size: 12px;
     }

     #gdpr-box button.gdpr-button-accept,
     #gdpr-box a.gdpr-button-settings {
         display: inline-block;
         border: 1px solid #fff;
         padding: 6px 5px 4px;
         text-decoration: none;
         margin: 0 0 20px 20px;
         border-radius: 2px;
         font-weight: 800;
         font-size: 12px;
         -webkit-transition: all .5s;
         -moz-transition: all .5s;
         -o-transition: all .5s;
         transition: all .5s;
     }

     #gdpr-box button.gdpr-button-accept:hover {
         cursor: pointer;
     }

     #gdpr-box button.gdpr-button-accept:hover,
     #gdpr-box a.gdpr-button-settings:hover {
         background: #ff0000;
     }